// Equipment
.equipment {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8rem 2rem;
  @include center;
  gap: 3rem;

  h1 {
    font-size: 3.2rem;
    color: $light;
    font-family: $fontTitulos;
  }

  .e-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    justify-items: center;
    width: 100%;

    .e-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 20px 20px;
      background: transparent;
      border: 1px solid $detail;
      gap: 1rem;

      &__img {
        img {
          width: 100%;
          height: 100%;
          border: 1px solid $detail;
        }
      }

      h4 {
        font-size: 1.4rem;
        font-family: $fontTitulos;
      }
    }
  }
}

.underwater {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 2rem;
  @include center;
  gap: 4rem;

  h1 {
    font-size: 3.2rem;
    color: $light;
    font-family: $fontTitulos;
    text-align: center;
  }

  .u-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    width: 80%;

    .u-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem;
      background: transparent;
      border: 1px solid $detail;
      gap: 1rem;

      &__img {
        display: flex;
        justify-content: center;

        img {
          width: 100%;
          border: 1px solid $detail;
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding-left: 0.2rem;

        h4 {
          font-size: 1.6rem;
          font-family: $fontTexto;
          text-transform: uppercase;
        }

        &-info {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          p {
            font-size: 1rem;
            font-family: $fontTexto;
          }
        }
      }
    }
  }
}
