header{
    padding: 1.5rem;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1200px) / 2);
}
.logo{
    width: 200px;
}
.logo img{
    width: 100%;
}
.nav{
    width: 60%;
    display: flex;
    justify-content: space-around;

    &__link{
        text-decoration: none;
        font-size: 1.3rem;
    }
}
footer{
    padding: 3rem;
    width: 100%;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &__nav{
        display: flex;
        flex-direction: column;
        gap: 20px;
        &-link{
            text-decoration: none;
            font-size: 1rem;
        }
    }
    &__social{
        display: flex;
        gap: 20px;
        i{
            font-size: 1.5rem;
        }
    }
    &__copy{
        color: #fff;
    }
}