// SECCIÓN HERO

.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    @include center;
    height: 80vh;
    padding: 6rem 0;
    &__texto{
        h1{
            font-size: 3.2rem;
            font-family: $fontTitulos; 
            
            span{
                color: $detail;
            }
        }
        h2{
            font-size: 1.8rem;
            margin-left: 2px;
            font-family: $fontTitulos;
        }
        p{
            font-size: 1.2rem;
            width: 75%;
            margin-top: 0.4rem;
            margin-left: 3px;
            font-family: $fontTexto;
        }
    }
    &__imagen{
        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            border: 1px solid $detail;
        }
    }
}

// SECCIÓN WORK

.work{  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 6rem 0;
    @include center;

    &__titulo{
        h1{
            text-decoration: none;
            font-size: 3.2rem;
            color: $light;
            font-family: $fontTitulos;
        }
    }
    .cards-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
        gap: 50px;

        .card{
            margin: 3rem 0 2.5rem 0;
            max-width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px 20px;
            background: transparent;
            border: 1px solid $detail;
            border-radius: 15px;

            &__img{
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    border: 1px solid $detail;
                }
            }

            &__texto{
                display: flex;
                flex-direction: column;
                align-items: center;
                h4{
                    font-size: 1.5rem;
                    margin-top: 8px;
                    font-family: $fontTitulos;
                }

                p:first-of-type{
                    margin-top: 6px;
                }
                p{
                    font-size: 1.2rem;
                    font-family: $fontTexto;
                }

                a{
                    color: $light;
                    margin-top: 12px;
                    width: 150px;
                    padding: 10px 0;
                    background-color: $detail;
                    text-decoration: none;
                    border-radius: 10px;
                    font-family: $fontTitulos;
                    transition: all 0.3s;
                    
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    &__more{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: $detail;
        text-decoration: none;
        color: black;
        border-radius: 50%;
        transition: all 0.3s;

        &:hover{
             transform: scale(1.2);
        }
    }
}

// SECCIÓN RENTAL

.rental{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    @include center;
    height: 80vh;
    padding: 6rem 0;
    margin-bottom: 6rem;
    
    &__texto{
        padding-left: 8rem;
        h1{
            font-size: 2.5rem;
            font-family: $fontTitulos;

            span{
                color: $detail;
            }
        }
        p{
            font-size: 1.2rem;
            width: 100%;
            font-family: $fontTexto;
            
        }
    }
    &__imagen{
        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            border: 1px solid $detail;
        }
    }
}