// Centrado
@mixin center {
  margin: 0 auto;
  max-width: 1400px;
}

// Fonts
$fontTexto: Arial, sans-serif;
$fontTitulos: "Oxanium", sans-serif;

// Colors
$light: #f2f2f2;
$dark: #0d0d0d;
$detail: #3084f2;
